<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"><!-- add the lines below --><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">@font-face {
 font-family: "Avenir";
 src: url("AvenirNextLTPro-Regular.otf");
}body {
 font-family: "Avenir", sans-serif;
 background-color: #FFF;
}header {
 color: black;
 background-color: #FFFC00
;
 padding: 33px 0 25px 15px;
 text-align: center;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 box-shadow: 0 4px 2px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}header p {
 width: 400px;
 margin: 0 auto;
}header h1 {
 font-size: 25px;
 font-weight: 600;
 letter-spacing: 0.3px;
 display: inline-block;
 vertical-align: middle;
}.fa {
 font-size: 22px;
 transform: translateY(50deg);
}header i {
 vertical-align: middle;
}.container {
 display: flex;
 max-width: 1100px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 15px;
 padding-left: 15px;
 border-top-left-radius: 3rem;
 border-top-right-radius: 3rem;
 border-bottom-left-radius: 3rem;
 border-bottom-right-radius: 3rem;
}.wrapper {
 max-width: 1100px;
 margin: 0 auto;
}.add-item {
 border-radius: 2px;
 border-top: 3px solid #03A588
;
 background-color: rgb(237, 237, 237);
 padding: 60px 18px;
 margin-bottom: 34px;
 width: 25%;
 margin-left: auto;
 margin-right: auto;
}.display-item {
 width: 35%;
 margin-left: auto;
 margin-right: auto;
}.display-item button {
 margin-top: 20px;
 margin-left: auto;
 display: block;
}.add-item form {
 width: 100%;
 overflow: hidden;
}.logo {
 width: 3%;
 height: auto;
 vertical-align: middle;
}p {
 font-size: 22px;
}input {
 color: #000;
 padding: 18px 22px;
 font-size: 16px;
 margin-bottom: 17px;
 border: 0;
 display: block;
 width: 100%;
 border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
}ul {
 display: flex;
 flex-wrap: wrap;
 margin: 0;
 padding: 0;
}li {
 width: calc(50% - 50px);
 list-style-type: none;
 margin-right: 50px;
 color: #000;
 margin-bottom: 30px;
}h2 {
 padding: 0;
 margin: 0;
 font-weight: 400;
}li h3 {
 background-color: #3CB2E2
;
 min-height: 25px;
 color: #fff;
 font-weight: 300;
 padding: 15px;
 border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem;
}li p {
 padding: 15px;
}form button {
 width: 100%;
 margin-top: 10px;
}button {
 border-radius: 2px;
 min-width: 60px;
 background-color: #E92754
;
 cursor: pointer;
 border: 0;
 color: #fff;
 font-size: 25px;
 font-weight: 600;
 letter-spacing: 0.3px;
 box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
 padding: 10px 3px;
 border-top-left-radius: 3rem;
 border-top-right-radius: 3rem;
 border-bottom-left-radius: 3rem;
 border-bottom-right-radius: 3rem;
}.user-profile {
 position: fixed;
 bottom: 20px;
 right: 40px;
 width: 100px;
 height: 100px;
}.user-profile img {
 border-radius: 50%;
 max-width: 100%;
}